body{
    margin: 0;
}

nav{
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
        
}
a{
    color: rgb(246, 142, 44); 
    text-decoration: none;
}
nav a:hover{
    color: blue;
    text-decoration: underline;
}

nav a:first-child{
    color: black;
    font-size: 22pt;
    font-weight: 20px;
    
}
nav a:nth-child(3){
    color: blue;
}

section{
    height: 170px;
    margin-top: 30px;
    background-color: rgb(246, 142, 44); 
    display: flex;
    justify-content: center;
    
}

section div{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    border-radius:10px;
}



section div input:focus{
    background-color:  rgb(246, 142, 44); 
}

input::placeholder{
    color:  rgb(246, 142, 44); 
    text-align: center;

}

section div input:nth-child(4){
    margin-top: 20px;
    width: 70%;
    height: 30px;
    background-color: aqua;
    border:none;
    border-radius: 10px;

    
}
div input{
    margin-bottom: 5px;
    width: 95%;
}